
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html, body {

	width: 100%;
	overflow-x: hidden;
  font-family: Avenir, Arial, sans-serif ;
}

a {

	text-decoration: none;
	color: #000;

}

a.red {

  color: #3b5998;

}

a.red:hover {

  color: #000;
}

button {

  background-color: #3b5998;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {

  opacity: 0.8;
}

li {

  list-style-type: none;
}

img {

  margin: 0;
}

footer {

    background-color: #3b5998;
    padding: 20px;
    text-align: right;
    color: #fff;
}

/* navigation */
.navigation-container {

  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 30px 50px;
}

ul.navigation  {

  margin: 0;
  padding: 0;
}

.navigation li {

  display: inline-block;
  padding: 0;
  margin: 0;
}

.navigation li a {

  margin-left: 40px;
}

.navigation li a:hover {

  color: #3b5998;
}

.navigation a.active {

  color: #3b5998;
}

.navigation-container .logo a {

  font-family: 'Alata', 'Arial', 'sans-serif;';
  color: #3b5998;
  font-size: 30px;
  cursor: pointer;
  
}

.navigation-container .logo:hover {

  opacity: 0.8;
}

.navigation.mobile {

    display: none;

}

@media (max-width: 900px) {

  .navigation-container {

    margin: 20px;

  }

  .navigation.desktop {

    display: none;

  }

  .navigation.mobile {

    display: block;

  }

  .navigation-container .logo a{

    font-size: 20px;
  }

}

@media (min-width: 600px) and (max-width: 1200px) {

  .navigation-container .logo a{

    font-size: 25px;
  }

}


/* homepage */
.homepage-section {

  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.homepage-section h1 {

  font-size: 30px;
  /*width: 50%;*/
}

.homepage-section h2 {

  font-size: 20px;
  font-weight: normal;
  /*width: 60%;*/
}

.homepage-section.one {

  background-color: #dfe3ee;
  background-image: url('../images/lines-curved.png');
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 0% 130px;
}


@media (max-width: 600px) {

  .intro {

    padding-left: 15px;
  }

  .homepage-section h1 {

    font-size: 15px;

  }

  .homepage-section h2 {

    font-size: 10px;
    
  }

  button {

    font-size: 10px;
    padding: 3px;
  }

}

@media (min-width: 600px) and (max-width: 1200px) {

  .intro {

    padding-left: 50px;
  }

}

.homepage-section.two {

  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.homepage-section.two h2 {

  /*font-family: Permanent+Marker;*/
  color: #3b5998;
  font-size: 25px;
}

.homepage-section.two .copy {

  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:  center;
}

.homepage-section.two ul {

    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.homepage-section.two ul li {

  width: 100%;
  text-align: center;
}

@media (max-width: 600px) {

  .homepage-section.two {

    padding: 10px 20px;
  }


}

.homepage-section.three {

  justify-content:  center;
  align-items: unset;
  flex-wrap: wrap;
  background-color: #dfe3ee;
  padding: 20px 0;
}

@media (max-width: 600px) {

  .homepage-section.three {

    padding: 10px 20px;
  }

}

@media (min-width: 600px) and (max-width: 1200px) {

  .testimonials-container {

    font-size: 12px;
  }

  .testimonials-container .content {

    width: 500px !important;
   
  }

}

.homepage-section.four {

  justify-content: flex-start;
  padding: 20px 0;
  display: flex;
  justify-content:  center;
}

/* about */
.about-container, .work-container, .testimonials-container {

  padding: 20px 50px;
  line-height: 1.5;
  min-height: 100vh;
}

.about-container {

  min-height: unset;
}

.about-testimonials-container {

  background-color: #dfe3ee;
  padding: 0px 0;
}

.about-testimonials-container .testimonials-container {

  padding: 30px 0 0 50px;
}

@media (max-width: 900px) {

  .about-container, .work-container, .testimonials-container {

    padding: 20px !important;
  }

}


/* testimonials */
.testimonials-container img {

  height: auto;
  width: 150px;
}

.testimonials-container .content {

  width: 800px;
  margin: 0 30px;
}

.testimonials-container .name {

  width: 200px;
}

.testimonials-container .testimonial {

  display: flex;
  padding: 0;
  margin: 0;
}

.testimonials-container .testimonial p {

  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {

  .testimonial {

    flex-wrap: wrap;
    justify-content: center;
    
  }

  .testimonials-container {

    padding: 20px;
  }

  .testimonials-container .content {

    margin: 0 20px !important;
    width: 100%;
  }

  .testimonials-container .name {

    width: 100%;
    text-align: center;
    margin: 10px 0 20px 0;
  }

  /* about */
  .about-testimonials-container .testimonials-container {

    padding: 20px;
  }

}

/* portfolio */
.portfolio {

  /*display: flex;
  justify-content: center;
  flex-wrap: wrap;*/

  display: grid;
  grid-template-columns: repeat(auto-fill, 24% );
  justify-content: center;
  min-height: 100vh;
  
}

.portfolio .work {

  width: 300px;
  height: auto;
  margin: 10px;
}

/* skills */
.skills-container {

    padding: 20px 50px 20vh 50px;
}

.skills-img {

  width: 100px;
}


@media (max-width: 600px) {

  .skills-item {

    margin-bottom: 20px;
  }

  .skills-container {

    padding: 20px;
  }


  .skills-copy {

     width: 300px;
  }

  .portfolio { 

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

}

@media (min-width: 600px) and (max-width: 992px) {


  .portfolio {

    display: grid;
    grid-template-columns: repeat(auto-fill, 40% );
    justify-content: center;
    
  }

}

@media (min-width: 992px) and (max-width: 1200px) {


  .skills-copy {

     width: 550px;
  }

  .portfolio {

    display: grid;
    grid-template-columns: repeat(auto-fill, 30% );
    justify-content: center;
    
  }

}

.work-container h1 {

  font-size: 20px;
}

/*****************************************************************************/
/* Side nav */
/*****************************************************************************/
/* The side navigation menu */
.sidenav {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: -100%;
  overflow-x: hidden;
  padding-top: 0px;
  transition: none;
  
}

.sidenav ul {

  width: 100%;
  list-style-type: none;
  text-align: center;
  font-size: 32px;
  margin: 0px 0;
}

.sidenav ul li {

  padding: 10px 0;
}

.sidenav.open {
  right: 0;
  transition: 0.2s ease;
}

.sidenav .close {
  position: absolute;
  margin: 30px 0 0 0;
  font-size: 40px;
  right: 20px;
  background:none;
}

.sidenav .nav {
  margin: 0px 0;
  padding: 100px 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  background: #fff;
}

.sidenav .nav div {

  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
}

.sidenav .nav .social {

  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.sidenav .nav .item {
  width: 100%;
  margin: 0 0 28px 0;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}

.sidenav .mobile-menu-sub-trigger {
  cursor:pointer;
  outline: none;
  padding-left: 1rem;
}


